:root {
    --blue1: #0597F2;
    --blue2: #0476D9;
    --blue3: #0455BF;
    --green1: #D7F205;
    --green1b: #75C100;
    --green2: #72A603;
    --green3: #3A5F00;
    --orange1: #FA5120;
    --grey1: #c0c0c0;


}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    /* justify-content: space-evenly; */
}

header {
    background-color: var(--blue3);
    color: aliceblue;
    padding: 1em 10%;
    margin: 0;
    display: flex;
    align-items: center;
    flex: auto;
    flex-wrap: wrap;
}

header .logo {
    margin-right: auto;
    margin-left: 0;
    color: var(--orange1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    font-style: oblique;
    font-weight: 900;
}

header>div {
    margin-left: 1em;
}

header a {
    text-decoration: none;
    color: aliceblue;
}

.hero {
    background-color: var(--blue1);
    padding: 1em 6em;
    margin: 0;
    display: flex;
    /* gap: 2em; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.intro {
    background-color: var(--green1b);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    max-width: 500px;
    min-width: 370px;
    height: 250px;
    padding: 1em;

    border-radius: .2em;
    box-shadow: 0px 0px 16px 10px var(--blue2);
    margin: 1em 1em 1em 1em;
}

.intro-img {
    background-color: aqua;
    margin: 1em 1em 1em 1em;
    flex: 1;
    max-width: 500px;
    min-width: 370px;
    height: 250px;
    box-shadow: 0px 0px 16px 10px var(--blue2);
}

.intro-img>img {
    width: 100%;
    height: 100%;
}

.intro>h2 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.intro>p {
    margin: 0;
    color: var(--green3);
}

.intro>button {
    align-self: flex-start;
    /* border: solid 1px var(--green3); */
    border: none;
    border-radius: .3em;
    padding: .5em;
    /* background-color: var(--blue2); */
    color: aliceblue;
    background: linear-gradient(180deg, var(--blue3) 0%, var(--blue2) 15%, var(--blue1) 87%, var(--blue2) 100%);
    text-shadow: 1px 2px 6px black;
}

.info {
    background-color: var(--blue2);
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    background-color: var(--grey1);
    /* border: 1px solid black; */
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    /* hei: 200px; */

    border-radius: .2em;
    box-shadow: 0px 0px 20px 6px var(--blue3);

}

.card img {
    /* border: 3px solid var(--orange1); */
    width: 100px;
    height: 100px;
}

.card p {
    text-align: center;
    color: black;
    text-shadow: 0px 1px 7px aliceblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.quote {
    background-color: var(--green2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;

}

.quote>p {
    /* border: black 1px solid; */
    font-size: 36px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    text-shadow: 0px 1px 1px black;
}

.quote span {
    color: var(--blue3);
    text-shadow: 0px 0px 1px var(--green1);
}

.action {
    background-color: var(--green1b);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.container {
    margin: 1em;
    border-radius: .3em;
    padding: 1em;
    color: aliceblue;
    background: linear-gradient(180deg, var(--blue3) 0%, var(--blue2) 15%, var(--blue1) 87%, var(--blue2) 100%);
    text-shadow: 1px 2px 6px black;
}

.container h2 {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--orange1);
}

.container>button{
    align-self: flex-start;
    /* border: solid 1px var(--green3); */
    border: none;
    border-radius: .3em;
    padding: .5em;
    /* background-color: var(--blue2); */
    color: white;
    /* background: linear-gradient(180deg, aliceblue 0%, rgb(200, 188, 188) 15%, var(--grey1) 87%, grey 100%); */
    background: linear-gradient(180deg, var(--green2) 0%, var(--green1b) 15%, var(--green1) 87%, var(--green1b) 100%);

    text-shadow: 1px 2px 6px black;
}


footer {
    background-color: var(--blue3);
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: center;

    color: aliceblue;
    padding: 1em;
}